body{
    background-color: rgb(228, 196, 148);
    padding: 0;
    margin-bottom: 2pc;
}

.input{
    display: block;
    margin-bottom: 20px;
    border: none;
    width: 100%;
    border: 1px solid black;
    height: 50px;
    border-radius: 10px;
    background-color: rgb(212, 212, 212);
    font-weight: 700;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
    margin-bottom: 2pc;
    margin-top: 1pc;
    
}

h1{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    font-weight: bold;
    color: rgb(56, 24, 3);
    font-size: xx-large;
}

.container{
    margin-right: 20px;
    margin: 0;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    border: 1px solid grey;
    margin-left: 10%;
    margin-right: 10%;
    box-shadow: 1px 1px 10px rgb(54, 54, 54);
}

.btn{
    border-radius: 10px;
    border: none;
    cursor: pointer;
    box-shadow:  1px 1px 5px rgb(0, 0, 0);
    margin-right: 1pc;
    font-size: larger;
    font-weight: 600;
    margin-bottom: 1pc;
}

#alert{
    
    margin-top: 1pc;
    font-size: large;
    font-weight: 400;
;
}